<h1 style="text-align: center;">{{title}}</h1>

<h2>The List  of Users</h2>
<ul>
  <li *ngFor='let user of users'>{{user.id}} - {{user.userName}}</li>
</ul>

<h2>The list of ​Weather Update</h2>
<table style="border-collapse: collapse; border: 1px solid black; padding: 3px;">
  <thead>
    <th style="border-collapse: collapse; border: 1px solid black; padding: 3px;">Date</th>
    <th style="border-collapse: collapse; border: 1px solid black; padding: 3px;">TemperatureC</th>
    <th style="border-collapse: collapse; border: 1px solid black; padding: 3px;">TemperatureF</th>
    <th style="border-collapse: collapse; border: 1px solid black; padding: 3px;">Summary</th>
  </thead>
  <tr *ngFor='let weather of weatherUpdate'  style="border-collapse: collapse; border: 1px solid black; padding: 3px;">
    <td style="border-collapse: collapse; border: 1px solid black; padding: 3px;">{{weather.date}}</td>
    <td style="border-collapse: collapse; border: 1px solid black; padding: 3px;">{{weather.temperatureC}}</td>
    <td style="border-collapse: collapse; border: 1px solid black; padding: 3px;">{{weather.temperatureF}}</td>
    <td style="border-collapse: collapse; border: 1px solid black; padding: 3px;">{{weather.summary}}</td>
  </tr>
</table>